<div class = "header">
  <h3 > Admin Accounts </h3>
  <div style = "text-align: left">
    <%= link_to "Admin Home", admins_path %>
  </div>
</div>

<% if notice %>
<p id =  "notice"><%= notice %></p>
<% end %>

<ul>
  
  <% for img in  @image do %>
    <li> 
      <%= link_to(image_tag(img.image.url(:small))) %>
    </li>
  <% end %>
<% @image.first.move_to_bottom %>
</ul>