<div class = "header">
	<h3 >Products List </h3> 
<div style = "text-align: left;">

<%= link_to "Admin Controls", control_admins_path  %>
<%= link_to "Product Controls", product_admins_path  %>
</div>

</div>