<div class = "header">
	<h3 >Admin Home </h3> 
<div style = "text-align: left;">

<%= link_to "Admin Controls", control_admins_path  %>
<%= link_to "Products", product_admins_path  %>
<%= link_to "Employees", employee_admins_path  %>
<%= link_to "Site Maps", sites_path  %>

</div>

</div>