<h1 class = "header" >This is Home of Innovation</h1>
<div class = "product_link">
<%= link_to "Our Products", products_path %>
</div>
<br/>
<br/>
<br/>


<div class = "introduction">
	<h3>Aspirer haut</h3>
	We are a creative development agency.
	<br />
	A TEAM OF PEOPLE FOCUSED ON	THE DIGITAL, THE PHYSICAL,
	<br>
	AND THE PLACES IN-BETWEEN.
</div>

<br/>
<br/>
<br/>

<div  style = "display: none;">


</div>





<div class = "contact">
	<ul>
		<li>
			<%= link_to "contact us", home_index_path %>
		</li>
		<li>
			<%= link_to "leadership", home_index_path %>
		</li>
		<li>
			<%= link_to "site map", home_index_path %>
		</li>
	</ul>

</div>