<div class = "container">
  <h1 class = "header" >This is Home of Innovation</h1>
  <div class = "product_link">
  <%= link_to "Our Products", home_products_path %>
  </div>

  <div class = "introduction">
  	<h3>Sequence</h3>
    <br />
  	We are a creative development agency.
  	<br />
  	A TEAM OF PEOPLE FOCUSED ON	THE DIGITAL, THE PHYSICAL,
  	<br>
  	AND THE PLACES IN-BETWEEN.
  </div>
</div>
<%= render "footer"%>


