// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
	
	.header{

		color: #acacac;
		font-weight: bold;
		text-align: center;
		padding: 10px;
		border-bottom: 1px dotted black;

	}

	.product_link{
		text-align: right;
		margin-top: -5%;

	}
	.introduction{

		font-size: 150%;
		text-align: center;
		width: 400px;
		margin-left: 33%;
		
	}

	.contact{
		background: #aca;
		height:auto;

		ul{
			text-align: center;
			list-style-type: none;

			li {

				display: inline;
				padding: 6px 0 7px 15px;
    			width: 235px;
			}

		}
		


	}