.heading{
  text-align: center;
}

.product_bar{
	text-align: center;
  ul{
		list-style-type: none;

		li{
			display: inline;
		}
  }
}

#prod{
 
  #details{
    float: left;
    width: 1280px;
    #product_desc{
    }
  }
}        

.show_product{
  tr{
    height: 70px;

    td{
      border: 1px solid ;
      width: 700px;
      background-color: #aabbcc;
      padding: 10px;
      div.description{
        padding-right : 20px;
        text-align:justify;
      }
    }
  }  
}
#img_upload {

}

