
.heading{
	text-align: center;
}

.product_bar{
	ul{
		list-style-type: none;

		li{
			 display: block;

      #product_desc{
        display: none;
        
        img{
          float: right;
        }
     
      }
		}
	}
}

